{% extends "base.html" %}

{% block title %}Item Catalog - DayZRP{% endblock %}

{% block content %}
  {% set banner_title = category %}
{% set banner_subtitle = category_style.subtitle %}
{% set banner_icon = category_style.icon %}
{% set banner_class = category_style.class %}
{% set banner_context_title = "Popular " ~ category %}
{% set banner_context_items = items[:2] %}
{% include "components/application_banner.html" %}

  

    <form class="search-row" action="/search" method="get">
        <input
            type="text"
            name="q"
            placeholder="Search items, classnames, mods, or tags...">

        <button type="submit">Search</button>
    </form>

    <div class="asset-card-grid">

        {% for item in items %}
            {% include "components/asset_card.html" %}
        {% endfor %}

    </div>

{% endblock %}