{% extends "base.html" %}

{% block title %}{{ category }} Items{% endblock %}

{% block content %}
  {% include "components/main_navigation.html" %}

    {% include "components/page_header.html" %}

    <!-- PAGE CONTENT GOES HERE -->
    <!-- asset cards, lists, etc -->

<div class="app-shell">

    <div class="page-actions">
        <a class="back-button" href="/">
            <i class="fa-solid fa-arrow-left"></i>
            Home
        </a>

        <a class="back-button" href="/catalog">
            <i class="fa-solid fa-box-open"></i>
            Item Catalog
        </a>
    </div>

    <section class="dashboard-panel">

        <h2>
            <i class="fa-solid fa-folder"></i>
            {{ category }}
        </h2>

      <div class="asset-card-grid">

    {% for item in items %}
        {% include "components/asset_card.html" %}
    {% endfor %}

</div>

    </section>

</div>

{% endblock %}