{% extends "base.html" %}

{% block title %}{{ category }} Items{% endblock %}

{% block content %}
{% set banner_title = category %}
{% set banner_subtitle = category_style.subtitle %}
{% set banner_icon = category_style.icon %}
{% set banner_class = category_style.class %}
{% set banner_context_title = "Popular " ~ category %}
{% set banner_context_items = items[:2] %}
{% include "components/application_banner.html" %}

<div class="app-shell">

    <h2 class="category-heading">
        <i class="fa-solid fa-folder"></i>
        {{ category }}
    </h2>

    <div class="subcategory-card-grid">
        {% for subcategory, sub_items in grouped_items.items() %}
            <a class="subcategory-card" href="/category/{{ category }}/{{ subcategory }}">
                <h3>{{ subcategory }}</h3>
                <p>{{ sub_items|length }} items</p>
            </a>
        {% endfor %}
    </div>

</div>
{% endblock %}