{% extends "base.html" %}

{% block title %}Management Tools - DayZRP{% endblock %}

{% block content %}

    {% set banner_title = "Management Tools" %}
    {% set banner_subtitle = "Staff Tools and Catalog Management." %}
    {% set banner_icon = "fa-solid fa-puzzle-piece" %}
    {% set banner_class = "category-default" %}
    {% set banner_context_title = "Popular Mods" %}
    {% set banner_context_items = [] %}

    {% include "components/application_banner.html" %}

    <div class="coming-soon">

        <i class="fa-solid fa-person-digging"></i>

        <h2>Under Construction</h2>

        <p>
            The Mods section is currently being built.
            Soon you'll be able to browse every supported mod,
            view authors, documentation, dependencies, and every
            item contributed by each mod.
        </p>

    </div>

{% endblock %}