{% extends "base.html" %}

{% block title %}Mods - DayZRP Item Catalog{% endblock %}

{% block content %}

    {% set banner_title = "Mods" %}
    {% set banner_subtitle = "Browse cataloged mods and the assets they contribute." %}
    {% set banner_icon = "fa-solid fa-puzzle-piece" %}
    {% set banner_class = "category-default" %}
    {% set banner_context_title = "Popular Mods" %}
    {% set banner_context_items = [] %}
    {% include "components/application_banner.html" %}

    <div class="mod-card-grid">

        {% for mod in mods %}
            <a class="mod-card" href="/mod/{{ mod.name }}">
                <div class="mod-card-icon">
                    <i class="fa-solid fa-puzzle-piece"></i>
                </div>

                <h3>{{ mod.name }}</h3>

                <p>
                    {{ mod.item_count }} asset{% if mod.item_count != 1 %}s{% endif %}
                </p>

                <span class="mod-card-footer">
                    View Mod
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        {% endfor %}

    </div>

{% endblock %}