<!-- ========================================= -->
    <!-- Navigation -->
    <!-- ========================================= -->

    <nav class="dashboard-nav">

        <a href="/" class="active">
            <i class="fa-solid fa-house"></i>
            Dashboard
        </a>

        <a href="/catalog">
            <i class="fa-solid fa-box-open"></i>
            Item Catalog
        </a>

        <a href="/mods">
            <i class="fa-solid fa-puzzle-piece"></i>
            Mods
        </a>

        <a href="/relationships">
            <i class="fa-solid fa-link"></i>
            Relationships
        </a>

        <a href="/management">
            <i class="fa-solid fa-gears"></i>
            Management
        </a>

    </nav>